.itemId {
    width: 10%;
    cursor: pointer;
}

.itemState {
    width: 20%;
    height: auto;
}

.itemComment {
    width: 20%;
    height: auto;
}

.itemGuid {
    width: 10%;
    height: auto;
}

.itemMac {
    width: 10%;
    height: auto;
}

.itemIp {
    width: 10%;
    height: auto;
}