.nodePage {
    width: 500px;
}

.returnButton {
    background-color: #0072ff;
    width: 100px;
    height: 30px;
    text-align: center;

    border: 2px solid #005dce;
    color: white;
    margin-bottom: 10px;
}

.returnButton:hover {
    background-color: #015ac7;
}

.nodeName {
    font-size: 20pt;
    border-bottom: 3px solid white;
}

.logsContainer {
    width: 600px;
    height: auto;

    margin-bottom: 20px;
}